body {
    background-image: linear-gradient(rgb(138, 138, 138), rgb(20, 20, 20));
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
}

.nav__link {
    text-decoration: none;
    padding: 3px;
    color: black;
    justify-items: center;
}